a, .rdw-editor-toolbar, .rdw-inline-wrapper, .rdw-list-wrapper, .rdw-text-align-wrapper, .rdw-link-wrapper, .rdw-history-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.rdw-editor-toolbar{
    background-color: white;
    padding: 0 1rem;
}
.rdw-editor-main{
    padding: 1rem;
}
.rdw-editor-toolbar img{
    height: 0;
    width: 0;
}
.rdw-inline-wrapper img{
    height: auto;
    width: auto;
    padding: 0.75rem 2rem;
}
.rdw-inline-wrapper img:hover{
    background-color: wheat;
}
.rdw-inline-wrapper{
    padding-left: 30%;
}
.addblog-page{
    margin-left: 10%;
    padding: 2rem;
}
.addblog-title{
    padding: 1rem 0;
}
.addblog-btn{
    background-color: transparent;
    border: 1px solid #6eeb83;
    margin-top: 2rem;
    border-radius: 0.25rem;
}
.addblog-btn:hover{
    background-color: #6eeb83;
    color: #272727;
}